table, th,td {
    border: 1px solid rgba(0, 0, 0, 0.212);
   
    padding: 8px;
    text-align: left;
}
td{
    border: none;
}
th {
    background-color: #f2f2f2;
    border: none;
}
body,html{
    height: 100%;
    margin: 0;
    font-family: "Poppins", serif;
}
.utama{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table2{
    max-height: 200px;
    overflow-y: auto;
}